---
import Main from './Main.astro'
import Footer from './Footer.astro'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zona Tigres</title>
	</head>
	<body>
		<Main>
			<section class="flex items-center justify-center h-full">
				<div class="w-auto h-auto flex flex-col justify-center items-center mx-auto">
					<div class="w-auto h-auto mb-6 text-center">
						<span class="text-8xl font-bold text-left text-blanco">¡Bienvenidos!</span>
					</div>
	
					<div class="text-blanco text-5xl w-2/4 h-auto text-justify">
						<span>Aquí encontrarás diversos alimentos y servicios que ofrecen los estudiantes del Instituto Tecnológico de Tepic.</span>
					</div>
				</div>
			</section>
		</Main>

		<Footer></Footer>
	</body>
</html>