---
import Footer from './Footer.astro'
import Producto from './Producto.astro'
---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zona Tigres</title>
	</head>
	<body>
        <main class="w-full h-auto bg-cover bg-crema">
            <div class="w-screen h-full bg-gradient-to-t from-azul to-blue-950">
                <nav class="container mx-auto flex justify-between items-center">
                    <img src="/public/imgs/logo.png" alt="logo" class="w-32 my-3">
                    <ul class="flex gap-16 text-gris">
                        <a href="/productos">
                            <li class="text-blanco font-medium text-xl hover:border-b-[1.5px] hover:text-blanco border-blanco">Productos</li>
                        </a>
                        <a href="/emprender">
                            <li class="text-blanco font-medium text-xl hover:border-b-[1.5px] hover:text-blanco border-blanco">Emprende</li>
                        </a>
                        <a href="/">
                            <li class="text-blanco font-medium text-xl hover:border-b-[1.5px] hover:text-blanco border-blanco">Cerrar Sesión</li>
                        </a>
                    </ul>
                </nav>
            </div>
            
            <section>
                <div class="flex flex-wrap justify-evenly h-full items-center mt-4">
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                <Producto></Producto>
                </div>
            </section>
        </main>
        <Footer></Footer>
	</body>
</html>